
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,300&display=swap');

 [value = "A. Mascotas"] {
	color: lightblue;

}





body{
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
	background: black;
	color: white;
}
table{
	color: white;
	border-style: solid;
	border-color: blue;
	width: 100%;
	margin: 0 auto;
	font-size: 20px;
}

[id="Info"]{
	position: absolute;
  bottom: 10px;
  width: 50%;
  border: 3px solid #8AC007;


}